@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: antiquewhite;
    font-family: "outfit";
}

/* card  */
.card{
    height: 500px;
    width: 400px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
}

/* card image  */
.card-image{
    height: 70%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.card-image img{
    height: 90%;
    width: 90%;
    border-radius: 20px;

}

/* card details  */
.card-content{
    height: 40%;
    width: 100%;
    padding: 10px 40px ;
    text-align: center;

}

.card-content .card-header {
    font-size: 15px;
}
.card-content .card-details p {
    font-size: 15px;
    margin-top: 20px;
}


/* attribute  */
.attribution{
    position: absolute;
    bottom: 10%;
    width: 80%;
    text-align: center;
}