@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&family=Red+Hat+Display:wght@500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgColor:#fff;
    --primaryColor : #382AE1;
    --secondaryColor: #DFE7FE;
}
body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Red Hat Display', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #cbd3f2;
    background: url(images/pattern-background-desktop.svg), #e1e9ff;
    background-repeat: no-repeat, no-repeat;
}

.card{
    height: 70vh;
    width: 450px;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.card .card-top{
    height: 30%;
    width: 100%;
    background: url("images/illustration-hero.svg");
    background-size: cover;
    border-radius: 20px 20px 0 0;
}
.card-body{
    padding: 20px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.card-body .card-info{
    padding-top: 20px;
    text-align: center;
}
.card-price{
    padding: 20px;
    width: 100%;
    background-color:#f6f8ff;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.card-price .card-price-icon{
    height:50px;
    width: 50px;
    background-color: var(--secondaryColor);
    border-radius: 50%;
}

.card-footer{
    height: 15%;
    width: 100%;
    padding: 10px 30px;
}
.card-footer .payment-btn{
    height: 100%;
    width: 100%;
    background-color: var(--primaryColor);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.payment-btn:hover{
    transform: scale(1.05);
    
}
.attribution{
    position: absolute;
    bottom: 5%;
    text-align: center;
}
.attribution a{
    text-decoration: none;
    color: #382AE1;
    font-weight: bold;
}

@media (max-width:500px) {
    .card{
        width: 300px;
    }
    .card-body{
        padding: 10px;
    }
}
