@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bgColor : hsl(217, 54%, 11%);
    --primaryColor :hsl(178, 100%, 50%);
    --cardBgColor : hsl(216, 50%, 16%);
    --mainTxtColor: #fff;
    --secondaryTxtColor: hsl(215, 51%, 70%);
    --lineColor : hsl(215, 32%, 27%);
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bgColor);
}

.card{
    height: 700px;
    width: 428px;
    background-color: var(--cardBgColor);
    color: var(--mainTxtColor);
    padding: 30px;
    border-radius: 20px;
}

.card-img{
    height: 368px;
    width: 368px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 3;
}
.card-img img{
    height: 100%;
    border-radius: 20px;
}
.card-img .main-image-hover{
    height: 15%;
    width: 15%;
    position: absolute;
    display: none;
}
.img-hover-bg-color{
    height: 100%;
    width: 100%;
    position: absolute;
    border-radius: 20px;
    opacity: 0.4;
    background-color: var(--primaryColor);
    z-index: 2;
    display: none;
}
.card-img:hover .img-hover-bg-color{
    display: block;
    cursor: pointer;
}
.card-img:hover .main-image-hover{
    display: block;
}
.card-content{
    padding-top: 20px;
    height: 35%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}


.content-body{
    color: var(--secondaryTxtColor);
    font-size: 18px;
}
.content-info{
    width: 100%;
    height: 20%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--lineColor);
    padding-bottom: 10px;
}

.content-info .balance,
.content-info .expire-date{
    height: 100%;
    display: inline-flex;
}


.balance-txt,
.expire-date-txt{
    padding-left: 10px;
}
.balance-txt{
    color: var(--primaryColor);
}
.expire-date-txt{
    color: var(--secondaryTxtColor);
}
.card-footer{
    width: 100%;
    height: 10%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--secondaryTxtColor);
}
.card-footer span{
    color: var(--mainTxtColor);
}
.card-footer .footer-img{
    height: 50px;
    width: 50px;
}

.footer-img img{
    height: 100%;

}

.footer-txt{
    padding-left: 20px;
}

.card-img:hover{
    background: url("images/image-equilibrium.jpg"),url("images/icon-view.svg");
    background-repeat: no-repeat,no-repeat;
    background-position: unset,center;
}
.card-footer span:hover,
.content-header:hover{
    color: var(--primaryColor);
    cursor: pointer;
}
.attribution{
    position: absolute;
    bottom: 2%;
    color: #fff;
    text-align: center;
}
.attribution a{
    color: var(--primaryColor);
    text-decoration: none;
}
@media (max-width:768px) {
    .card{
        height: 650px;
        width: 360px;
        padding: 30px;
    }
    .card-img{
        height: 300px;
        width: 300px;
    }
    .card-content{
        padding-top: 10px;
        height: 40%;
    }
    .content-info{
        padding-bottom: 0px;
    }
    .card-footer{
        height: 10%;
    }
}