@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --priamryColor:#fff;
    --box1Color:hsl(31, 77%, 52%);
    --box2Color:hsl(184, 100%, 22%);
    --box3Color:hsl(179, 100%, 13%);
    --boxHeaderTxt: "Big Shoulders Display";
    --boxBodyTxt: "Lexend Deca";
}

body{
    min-height: 100vh;
    width: 100%;
    font-family: var(--boxBodyTxt);
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    height: 65vh;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* box  */
.box{
    height: 100%;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    padding: 40px;
    color: var(--priamryColor);
}
.box:nth-child(1){
    background-color: var(--box1Color);
    border-radius: 10px 0 0 10px;
}
.box:nth-child(2){
    background-color: var(--box2Color);
}
.box:nth-child(3){
    background-color: var(--box3Color);
    border-radius: 0 10px 10px 0;
}
.box-top{
    height: 5%;
}
.box-header{
    height: 5%;
    font-family: var(--boxHeaderTxt);
    text-transform: uppercase;
    font-size: 1.8rem;
}
.box-body{
    padding-right: 10px;
    font-weight: 400;
    font-size: 1.2rem;
    opacity: 0.7;
}
.box-footer{
    width: 100%;
    display: inline-flex;
    justify-content: center;
    margin-top: 30px;
}
.box-footer button{
    padding: 15px 40px;
    border: none;
    border-radius: 20px;
    font-size: 1.2rem;
    font-weight: 700;
    cursor: pointer;
}
.box:nth-child(1) .box-footer button{
    color: var(--box1Color);
}
.box:nth-child(2) .box-footer button{
    color: var(--box2Color);
}
.box:nth-child(3) .box-footer button{
    color: var(--box3Color);
}


/* for mobile screen  */
@media (max-width:768px) {
    body{
        height: 100%;
        width: 100%;
        padding: 10px;
    }
    .container{
        height: calc(100vh - 40px);
        flex-direction: column;
    }
    .box{
        height: calc(100% / 3);
        width: 100%;
        padding: 10px 40px;
    }
    .box:nth-child(1){
        border-radius: 10px 10px 0 0 ;
    }
    .box:nth-child(3){
        border-radius: 0 0 10px 10px ;
    }
    .box-header,
    .box-body{
        padding-top: 20px;
    }
    .box-body{
        font-size: 0.8rem;
    }

}
